<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <title>
        Login
    </title>
    {% load staticfiles %}
        <link href="https://fonts.googleapis.com/css?family=Jua&amp;subset=korean" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>

  </head>
  <body>
      <div id="login">
          <header>
              <a class="login_name" href="{% url 'index' %}">
                  Eirene
              </a>
          </header>
          {% if user.is_active %}
              <h2>
                  Login Success! : [{{ user.username }}]
              </h2>
              <a href="{% url 'logout' %}">
                  Logout
              </a>
          {% else %}
              <div id="login_form">
                  <form method="post" action="" id="submit_form">
                      {% csrf_token %}
                      {% for field in login_form %}
                          <div class="id-pw_form">
                              {{ field.label_tag }}
                              {{ field }}
                              {% if field.errors %}
                                  {% for error in field.errors %}
                                      <script>
                                          var error = "{{ error }}";
                                          alert(error);
                                      </script>
                                  {% endfor %}
                              {% endif %}
                          </div>
                      {% endfor %}
                      {% if login_form.non_field_errors %}
                          {% for error in login_form.non_field_errors %}
                              <script>
                                  var error = "{{ error }}";
                                  alert(error);
                              </script>
                          {% endfor %}
                      {% endif %}
                      <nav id="submit-nav">
                          <input type="submit" value="로그인" class="buttons" id="login_button"/>
                          <a href="{% url 'signup' %}">
                              <button type="button" class="buttons" id="signup_button">
                                  회원가입
                              </button>
                          </a>
                      </nav>
                  </form>
              </div>
          {% endif %}
      </div>
  </body>
</html>
