{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h2>
          {{ object.title }}
      </h2>
      <div>
          {{ object.messages }}
      </div>
      <div id="player"></div>
      <p>
          {% if object.get_previous_by_modify_date %}
              <a href="{{ object.get_previous_board_get }}" title="View Previous Page">
                  &laquo;--{{ object.get_previous_board }}
              </a>
          {% endif %}
          {% if object.get_next_by_modify_date %}
              <a href="{{ object.get_next_board_get }}" title="View Next Page">
                  {{ object.get_next_board }}--&raquo;
              </a>
          {% endif %}
      </p>
      <p>
          {{ object.modify_date|date:"j F Y" }}
      </p>
      <div>
          {{ object.content|linebreaks }}
      </div>
  </body>
  <script type="text/javascript">
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
              videoId: '{{ video.video_key }}'
          });
      }
  </script>
</html>
