html, body {
    height: auto;
}
#another_header {
    margin-bottom: 80px;
}
#login_div {
    width: 85%;
    height: 200px;
}
#choice {
    width: 100%;
    height: 100%;
}
.boxs {
    width: 5em;
    height: 45px;
}
#mobile_bottom_img {
    width: 100%;
    margin-top: 50px;
    height: 200px;
    bottom: 0em;
    position: absolute;
}
#login {
    width:85%;
    height: 500px;
    background-color: #595959;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    display: none;
}
