header {
    height: 100px;
    position: relative;
}
#Team_name {
    top: 5%;
    font-size: 50px;
}
#name_deco {
    top: 10px;
}
#search_nav {
    display: none;
}
#open_close_menu {
    display: none;
}
#m_menu {
    display: block;
    width: 10%;
    height: 40%;
    float: right;
    margin-right: 20px;
    background-color: inherit;
    position: relative;
    top: 50%;
}
#m_open_close_menu {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: inherit;
    border: none;
}
.m_open_close_button_line {
    width: 95%;
    height: 4px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 6px;
}
#drop_down {
    top: 0;
    width: 50%;
    background-color: #FFFFFF;
    display: none;
    height: auto;
    position: absolute;
}
#drop_down_menu {
    width: 100%;
    height: auto;
}
#drop_down_ul {
    display: none;
}
#m_list_menu {
    width: 100%;
    height: auto;
    list-style: none;
}
.list_name {
    width: 100%;
    padding-top: 8px;
    height: auto;
}
.list_value {
    width: 100%;
    height: auto;
    border: none;
    font-size: 20px;
    background-color: inherit;
}
.m_board_list_ul {
    width: auto;
    height: auto;
    display: none;
    list-style: none;
    overflow: hidden;
}
.m_board_list_li {
    width: 100%;
    height:35px;
    transition: all 0.3s;
}
.m_board_list_li > a {
    font-size: 12px;
    text-decoration: none;
}
#another_header {
    margin-bottom: 80px;
}
#login_div {
    width: 85%;
    height: 200px;
}
#choice {
    width: 100%;
    height: 100%;
}
.boxs {
    width: 5em;
    height: 45px;
}
#first-box {
    margin-left: -20px;
}
