#login {
    width: 75%;
    height: 70%;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    display: none;
}
#login_name_header {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    top: 10px;
}
.login_name {
    font-size: 70px;
    font-family: 'Jua', sans-serif;
    text-decoration: none;
    color: #000;
}
#login_form {
    width: 95%;
    height: 70%;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border: 1px solid gainsboro;
}
#submit_form {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 20%;
}
.id-pw_form {
    width: 100%;
    height: 30px;
}
.label_class {
    font-size: 20px;
}
.form-control {
    width: 60%;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 10px 10px 10px 10px;
    float: right;
}
#submit-nav {
    width: 100%;
    height: auto;
    position: relative;
    top: 50px;
}
#login_button {
    width: 70px;
    height: 35px;
    background-color: inherit;
    border: 1px solid gainsboro;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #65BAFB;
    position: relative;
    left: 25%;
}
#signup_a {
    position: relative;
    left: 25%;
}
#signup_button {
    width: 70px;
    height: 35px;
    background-color: inherit;
    border: 1px solid gainsboro;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #FB9565;
}
