html, body {
    width: auto;
    height: 750px;
}
#login {
    width: 75%;
    height: 70%;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    display: none;
}

/* #login_button {
    left: 70px;
    color: #65BAFB;
}
#signup_button {
    left: 150px;
    color: #FB9565;
} */
