*{margin: 0; padding: 0;}
*focus { outline: none; }
@media (max-width: 414px) {
    html, body {
        width: 414px;
        height: 736px;
        background-color: #353535;
    }
    #signup_done {
        width: 390px;
        height: 70%;
        background-color: #FFFFFF;
        position: relative;
        border-radius: 10px 10px 10px 10px;
        display: none;
    }
    header {
        width: 100%;
        text-align: center;
        position: relative;
        top: 100px;
    }
    .signup_done_name {
        font-size: 70px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-family: 'Jua', sans-serif;
    }
    #signup_done_div {
        width: 85%;
        height: 50%;
        position: relative;
        top: 120px;
        border: 1px solid gainsboro;
    }
}
